<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<body>
<div th:fragment="pageNav(page)">
    <div class="d-flex flex-row justify-content-center gap-2 py-3">
        <div id="prevPage"> 이전 </div>

        <div id="pageNav-container">
            <span th:if="${page.endNum} != 0" th:each="num : ${#numbers.sequence(page.startNum, page.endNum)}">
                <span th:text="${num}" onclick="linkPage(event)"></span>
            </span>
        </div>

        <div id="nextPage"> 다음 </div>
    </div>

    <script>
        const linkPage = (event) => {
            const linkPageNum = event.target.textContent;

            const url = new URL(window.location.href)

            url.searchParams.set('currentPage', linkPageNum)
            window.location.href = url.href
        }
    </script>
</div>
</body>
</html>
