<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<body>
    <div th:fragment="searchBox(categories, search)">
        <div th:if="${categories != null}">
            <form id="searchForm" class="card-group flex-column gap-lg-2">
                <div class="col-12">
                    <label for="searchDate">일시</label>
                        <input th:value="${search.startDate}" type="date" name="startDate" id="searchDate">

                    <label for="endDate">&nbsp~</label>
                        <input th:value="${search.endDate}" type="date" name="endDate" id="endDate">

                    <label for="searchCategory" class="caption"></label>
                        <select name="category" id="searchCategory">
                            <option value="">전체 카테고리</option>
                            <option th:each="category : ${categories}"
                                    th:value="${category.categoryId}"
                                    th:selected="${category.categoryId} == ${search.category}"
                                    th:text="${category.name}">
                            </option>
                        </select>

                    <label>
                        <input th:value="${search.keyword}" type="text" name="keyword"/>
                    </label>

                    <button type="button" id="searchBtn">검색</button>
                </div>
                <div class="flex-row justify-content-between col-12">
                    <label for="itemPerPage">
                        <select name="perPage" id="itemPerPage">
                            <option th:selected="${search.perPage} == 10" value="10">10</option>
                            <option th:selected="${search.perPage} == 20" value="20">20</option>
                            <option th:selected="${search.perPage} == 30" value="30">30</option>
                            <option th:selected="${search.perPage} == 40" value="40">40</option>
                            <option th:selected="${search.perPage} == 50" value="50">50</option>
                        </select>
                        개씩 보기
                    </label>
                    <div class="flex-row justify-content-end">
                        <label for="sortBy">
                            <select name="sortBy" id="sortBy">
                                <option th:selected="${search.sortBy} == 'date'" value="date">등록일</option>
                                <option th:selected="${search.sortBy} == 'view'" value="view">조회수</option>
                            </select>
                        </label>

                        <label for="sortOrder">
                            <select name="sortOrder" id="sortOrder">
                                <option th:selected="${search.sortOrder} == 'desc'" value="desc">내림차순</option>
                                <option th:selected="${search.sortOrder} == 'asc'" value="asc">오름차순</option>
                            </select>
                        </label>
                    </div>
                </div>
            </form>
        </div>
    <script>
        document.addEventListener('DOMContentLoaded', function (){
            const board = window.location.pathname.split('/').pop()

            document.getElementById('searchForm').addEventListener('submit', (event) => {
                event.preventDefault()
                search();
            })

            document.getElementById('searchBtn').addEventListener('click', function (event){
                event.preventDefault();
                search();
            });

            document.getElementById('itemPerPage').addEventListener('change', () => {
                search();
            })

            document.getElementById('sortBy').addEventListener('change', () => {
                search();
            })

            document.getElementById('sortOrder').addEventListener('change', () => {
                search();
            })

            const search = () => {
                const searchForm = document.getElementById('searchForm')
                const formData = new FormData(searchForm)
                formData.set('board', board);

                searchForm.submit();
            }
        });
    </script>
    </div>
</body>
</html>