<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Board Admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/pico.min.css}">
</head>
<body>
    <div class="layout">
        <div class="top-section">
            <div class="top-left"></div>
            <div th:if="${adminInfo != null}" class="top-right" >
                <div class="top-right-area1">
                    <span th:text="${adminInfo.name}"></span>님 안녕하세요
                </div>
                <div class="top-right-area2">
                    <a id="logoutBtn">로그아웃</a>
                </div>
            </div>
            <div th:unless="${adminInfo != null}" class="top-right">
                <div class="top-right-area1">
                </div>
                <div class="top-right-area2">
                    <a href="/login">로그인</a>
                </div>
            </div>
        </div>

        <div class="bottom-section">
            <div class="bottom-left">
                게시판들..
            </div>
            <div class="bottom-right">
                <main layout:fragment="content">
                </main>
            </div>
        </div>
    </div>
</body>
<script>
    document.getElementById('logoutBtn').addEventListener('click', function () {
        if(!confirm('로그아웃 하시겠습니까?')) {
            return
        }
        fetch('/logout', {
            method: 'post'
        }).then(() => {
            window.location.href = '/'
        }).catch(() => {
            alert('error발생 관리자 문의')
        })
    })
</script>
</html>