<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board.repository.ArticleMapper">
    <select id="selectNoticeList" resultMap="ArticleResultMap">
        SELECT
            a.article_id,
            a.title,
            a.content,
            a.view_count,
            a.created_at,
            a.updated_at,
            c.category_id,
            c.name AS categoryName,
            c.board_type
        FROM article a
            INNER JOIN category c   ON a.category_id = c.category_id

    </select>
    <select id="selectCategoriesBy" resultType="Category">
        SELECT
            category_id,
            name
        FROM
            category
        WHERE
            board_type = #{boardType}
    </select>
    <select id="selectArticleById" resultMap="ArticleResultMap">
        SELECT
            a.article_id,
            a.title,
            a.content,
            a.view_count,
            a.created_at,
            a.updated_at,
            c.name AS categoryName,
            ad.name AS adminName
        FROM
            article a
            INNER JOIN category c ON  a.category_id = c.category_id
        INNER JOIN admin ad ON a.admin_id = ad.admin_id
        WHERE
            article_id = #{articleId}
    </select>

    <insert id="insertArticle" parameterType="Article">
        INSERT INTO
            article
            ( category_id, admin_id, title, content, pinned_yn)
        VALUES
            (${category.categoryId}, ${admin.adminId}, #{title}, #{content}, #{pinnedYn})
    </insert>


    <resultMap id="ArticleResultMap" type="Article">

        <id property="articleId" column="article_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="viewCount" column="view_count"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="secretYn" column="secret_yn"/>
        <result property="pinnedYn" column="pinned_yn"/>

        <association property="category" javaType="Category">
            <id property="categoryId" column="category_id"/>
            <result property="boardType" column="board_type"/>
            <result property="name" column="categoryName"/>
        </association>
        <association property="admin" javaType="Admin">
            <id property="adminId" column="admin_id"/>
            <result property="name" column="adminName"/>
        </association>
    </resultMap>
</mapper>