* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.layout {
    /*height: 100vh;*/
}

.top-section {
    height: 10%;
    display: flex;
    border-bottom: 1px solid black;
}

.top-left {
    flex: 3;
    border-right: 1px solid black;
}

.top-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

.top-right-area1, .top-right-area2 {
    /*background-color: #f0f0f0;*/
    padding: 5px;
}

.bottom-section {
    height: 90%;
    display: flex;
    align-items: stretch;
}

.bottom-left {
    padding-top: 5%;
    padding-left: 3%;
    width: 15%;
    border-right: 1px solid black;
}

.bottom-right {
    height: 100vh;
    flex: 1;
    padding: 10px;
    background-color: #f9f9f9;
}

.h-sm {
    height: 100px;
}
.w-sm {
    width: 16%;
}
.btn-b {
    border-width: 1px;
}
