<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<div layout:fragment="content">
    <div th:replace="~{common/searchBox :: searchBox(categories=${categories})}"></div>
    <article>
        <a href="/notice/form">등록</a>
        <table>
            <thead>
                <tr>
                    <td>분류</td>
                    <td>제목</td>
                    <td>조회수</td>
                    <td>등록 일시</td>
                    <td>작성자</td>
                </tr>
            </thead>
            <tbody id="articles-container">
                <tr th:each="article : ${articles}">
                    <td th:text="${article.categoryName}"></td>
                    <td style="text-align: left">
                        <a th:href="@{/notice/{id}(id=${article.articleId})}">
                            <span th:text="${article.title}"></span>
                        </a>
                    </td>
                    <td th:text="${article.viewCount}"></td>
                    <td th:text="${article.createdAt}"></td>
                    <td th:text="${article.adminName}"></td>
                </tr>
            </tbody>
        </table>

        <div th:replace="~{common/pageNav :: pageNav(page=${page})}"></div>
    </article>
</div>
</html>