<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<div layout:fragment="content">
    <h2>공지사항 관리</h2>

    <form id="saveForm">
        <div class="form-row">
            <label for="category">분류</label>
            <select name="categoryId" id="category">
                <option value=0>카테고리 선택</option>
                <option th:each="category : ${categories}"
                        th:value="${category.categoryId}"
                        th:text="${category.name}"
                        th:attr="selected = ${article != null and article.categoryId == category.categoryId}"
                ></option>
            </select>
        </div>

        <div class="form-row">
            <label for="title">제목</label>
            <input type="text" name="title" id="title"
                   th:value="${article == null ? '' : article.title}">
        </div>

        <div class="form-row">
            <label for="content">내용</label>
            <textarea type="text" name="content" id="content"
                      th:text="${article == null ? '' : article.content}"
            ></textarea>
        </div>

        <div>
            <label for="pinnedYn">상단 고정</label>
            <input type="checkbox" value="Y" name="pinnedYn" id="pinnedYn"
                   th:attr="checked=${article != null and article.pinnedYn == 'Y'}">
        </div>
            <input type="hidden"
                   th:if="${article != null}"
                   th:value="${article.articleId}"
                   name="articleId">

        <div class="form-buttons">
            <button type="button" onclick="location.href='/notice'">취소</button>
            <button type="submit" id="saveBtn">저장</button>
        </div>
    </form>

<script>
    const saveForm = document.getElementById('saveForm');
    const category = document.getElementById('category');
    const title = document.getElementById('title');
    const content = document.getElementById('content');

    document.getElementById('saveForm').addEventListener('submit', async function (event) {
        //submit이벤트로 보내는거면 기본 submit동작을 못하게해야한다
        event.preventDefault();

        if (!confirm('등록 하시겠습니까?')) {
            return;
        }
        if (!isValidForm()) {
            return;
        }

        const formData = new FormData(saveForm);
        const response = await fetch('/notice/form', {
            method: 'post',
            body: formData
        });
        if (response.ok) {
            const data = await response.json();
            alert(data.message)
            window.location.href = `/notice/${data.data}`
        } else {
            console.error('Error creating post');
        }
    })

    function isValidForm() {
        if (category.value === '0') {
            alert('카테고리 선택은 필수 입니다')
            return false;
        }
        if (lengthCheck(title, 100)) {
            alert('제목은 100글자 미만으로 입력해주세요')
            return false;
        }
        if (lengthCheck(content, 4000)) {
            alert('내용은 4000글자 미만으로 입력해주세요')
            return false;
        }
        return true;
    }

    function lengthCheck(target, max) {
        return target.value.length > max;
    }
</script>
</div>
</html>