<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<div layout:fragment="content">
    <div>
        작성자: &nbsp;<span th:text="${article.adminName}"></span>
        <div>
            등록일시 <span th:text="${article.createdAt}"></span>
            <span th:if="${article.updatedAt != null}">
                수정일시 <span th:text="${article.updatedAt}"></span>
            </span>
        </div>
    </div>

    <div>
        <div>
            [<span th:text="${article.categoryName}" ></span>]
            <span>
                제목:&nbsp;<span  th:text="${article.title}"></span>
            </span>
        </div>
        조회수:
        <span th:text="${article.viewCount}" style="margin:0 10px"></span>
    </div>

    <div th:text="${article.content}" style="border: 1px solid #ccc; padding: 10px; width: 96%; height: 150px;">
    </div>
</div>
</html>