<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.uldivaq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<div layout:fragment="content">
    <div th:replace="~{common/searchBox :: searchBox(categories=${categories}, search=${search})}"></div>
    <article class="px-3">
        <div class="d-flex justify-content-end">
            <a class="d-flex btn btn-light" href="/notice/form">등록</a>
        </div>
        <div class="d-flex flex-column just">
            <div class="d-flex gap-1 border-top border-black border-bottom">
                <div class="col-1">분류</div>
                <div class="col-3">제목</div>
                <div class="col-1">조회수</div>
                <div class="col-3">등록 일시</div>
                <div class="col-2">작성자</div>
            </div>

            <div class="d-flex flex-column">
                <div class="d-flex gap-1 p-1 bg-dark-subtle border-bottom" th:each="pinnedArticle : ${pinnedArticles}">
                    <div class="col-1" th:text="${pinnedArticle.categoryName}"></div>
                    <div class="col-3" style="text-align: left">
                        <a th:href="@{/notice/{id}(id=${pinnedArticle.articleId})}">
                            <span th:text="${pinnedArticle.title}"></span>
                        </a>
                    </div>
                    <div class="col-1" th:text="${pinnedArticle.viewCount}"></div>
                    <div class="col-3" th:text="${pinnedArticle.createdAt}"></div>
                    <div class="col-2" th:text="${pinnedArticle.adminName}"></div>
                </div>

                <div class="d-flex gap-1 p-1 border-bottom" th:each="article : ${articles}">
                    <div class="col-1" th:text="${article.categoryName}"></div>
                    <div class="col-3" style="text-align: left">
                        <a th:href="@{/notice/{id}(id=${article.articleId})}">
                            <span th:text="${article.title}"></span>
                        </a>
                    </div>
                    <div class="col-1" th:text="${article.viewCount}"></div>
                    <div class="col-3" th:text="${article.createdAt}"></div>
                    <div class="col-2" th:text="${article.adminName}"></div>
                </div>
            </div>
        </div>

        <div th:replace="~{common/pageNav :: pageNav(page=${page})}"></div>
    </article>
</div>
</html>