<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="searchBox(categories)">
        <div th:if="${categories != null}">
            <form id="searchForm">
                <input type="date" name="startDate" />&nbsp~
                <input type="date" name="endDate" />
                <select name="category">
                    <option value=0>전체 카테고리</option>
                    <option th:each="category : ${categories}"
                            th:value="${category.categoryId}"
                            th:text="${category.name}">
                    </option>
                </select>
                <input type="text" name="keyword"/>
                <button type="submit" id="searchBtn">검색</button>
            </form>
        </div>
    </div>
</body>
</html>