<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/pico.min.css}">
    <script src="https://cdn.jsdelivr.net/npm/jsencrypt@3.0.0-rc.1/bin/jsencrypt.min.js"></script>
</head>
<body>
    <div>
        <h2>로그인</h2>
        <div class="grid">
            <form method="post" action="/login" id="saveForm">
                <input type="text" name="loginId" id="loginId" placeholder="아이디" value="asd" />
                <input type="password" id="password" placeholder="비밀번호" value="1234"/>
                <input type="hidden" name="encryptedPassword" id="encryptedPassword"  />
                <input type="hidden" th:value="${publicKey}" id="publicKey">

                <button type="button" id="formBtn">로그인</button>
            </form>
        </div>


    </div>
</body>
<script>
    const button = document.getElementById('formBtn');
    const publicKey = document.getElementById('publicKey').value

    let encrypt = new JSEncrypt();
    encrypt.setPublicKey(publicKey);

    button.addEventListener('click', function() {
        const password = document.getElementById('password').value
        const encrypted = encrypt.encrypt(password);
        document.getElementById('encryptedPassword').value = encrypted

        const formData = new FormData(document.getElementById('saveForm'))
        const data = {}
        formData.forEach((value, key) => {
            data[key] = value;
        })

        fetch('/login', {
            method: 'post',
            body: JSON.stringify(data),
            headers: {
                'Content-Type' : 'application/json'
            }
        }).then(resp => {
            return resp.json()
        }).then(data => {
            if (data.result === true) {
                sessionStorage.setItem('adminInfo', JSON.stringify(data.data))
            } else {
                alert(data.message)
                document.getElementById('loginId').value = '';
                document.getElementById('password').value = '';
                return;
            }
            window.location.href = '/notice'
        }).catch(error => {
            console.error('Error:', error);
        })

    });
</script>
</html>